---
# Projects
---
{% include top.html %}
<h2>Minecraft Mods</h2>
<div id="notenoughupdates">
<h3>NotEnoughUpdates</h3>
<p>A mod that provides a NEI interface for searching and viewing item crafting recipes and information in Hypixel's Skyblock gamemode.</p>

<h4>Downloads</h4>
<a href="https://github.com/Moulberry/NotEnoughUpdates/releases">View releases</a>
<h4>Other Links</h4>
<a href="https://github.com/Moulberry/NotEnoughUpdates">Source Code</a>
<br>
<a href="https://github.com/Moulberry/NotEnoughUpdates-REPO">Repository containing item information</a>
</div>
{% include bottom.html %}