<div class="header">
	<img class="title-icon" src="./icon.png">
	<div class="title">
		<h5>Moulberry's Website</h5>
	</div>
	<div class="nav-menu">
		<div class="button">
			<a class="button-link" href="./index">Home</a>
		</div>
		<div class="button">
			<a class="button-link" href="./projects">Projects</a>
			<div class="dropdown-content">
				<a href="./projects#notenoughupdates">NotEnoughUpdates</a>
			</div>
		</div>
		<div class="button">
			<a class="button-link" class="button" href="https://www.youtube.com/channel/UCPh-OKmRSS3IQi9p6YppLcw">YouTube</a>
		</div>
		<div class="button">
			<a class="button-link" href="./faq">FAQ</a>
		</div>
	</div>
</div>

